Thesis_Disposition_LaTeX/Thesis.aux
Thesis_Disposition_LaTeX/Thesis.bbl
Thesis_Disposition_LaTeX/Thesis.blg
Thesis_Disposition_LaTeX/Thesis.fdb_latexmk
Thesis_Disposition_LaTeX/Thesis.fls
Thesis_Disposition_LaTeX/Thesis.lof
Thesis_Disposition_LaTeX/Thesis.log
Thesis_Disposition_LaTeX/Thesis.lot
Thesis_Disposition_LaTeX/Thesis.pdf
Thesis_Disposition_LaTeX/Thesis.ptc
Thesis_Disposition_LaTeX/Thesis.synctex.gz
*.aux
.DS_Store
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
